.code-editor {
  width: 100% !important;
  overflow-y: auto !important;
  font-family: "consolas", "courier new", monospace !important;
}
#input-console,
#output-console, #test-case-console {
  width: inherit !important;
  height: 300px !important;
  overflow-y: auto;
  font-family: "consolas", "courier new", monospace !important;
}
.nav-tabs .nav-link {
  background-color: #787878 !important;
  color: #ffffff !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 4px #787878 !important;
  padding: 0.5rem 2rem;
  margin-right: 5px;
}

.nav {
  margin-bottom: 0 !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px #272822 !important;
  background-color: #272822 !important;
}
.testcase-tab {
  padding: 1rem 0 1rem 0 !important;; 
  margin-bottom: 0.5rem !important;
}
.testcase-list {
  width: 30%;
}
