@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@100;300;400;500;700;800&family=Raleway:wght@300;400;500&family=Source+Code+Pro&display=swap');
.code-editor,
.submission-editor {
  width: 100% !important;
  color: white !important;
  overflow-y: auto !important;
  font-family: "consolas", "courier new", monospace !important;
}
#input-console,
#output-console,
#test-case-console {
  width: inherit !important;
  height: 300px !important;
  overflow-y: auto;
  font-family: "consolas", "courier new", monospace !important;
}
#submission-editor {
  width: 100% !important;
  height: 300px !important;
  overflow-y: auto !important;
  font-family: "consolas", "courier new", monospace !important;
}
.nav-tabs .nav-link {
  background-color: #787878 !important;
  color: #ffffff !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 4px #787878 !important;
  padding: 0.5rem 2rem;
  margin-right: 5px;
}

.nav {
  margin-bottom: 0 !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px #272822 !important;
  background-color: #272822 !important;
}
.testcase-tab {
  padding: 1rem 0 1rem 0 !important;
  margin-bottom: 0.5rem !important;
}
.testcase-list {
  width: 30%;
}

/* Question Section */
.code-container {
  height: 92vh !important;

  overflow: hidden;
}
.question-container, .code-playground{
  height: 100vh !important;
  overflow-y: auto !important;
  font-family: 'Raleway', sans-serif !important;
}
.question-field {
  background-color: #b7e4c7 !important;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 1rem !important;
  padding: 1rem;
  border-radius: 0.3rem;
}

.select {
  background-color: var(--light-green) !important;
  color: black !important;
  border-radius: 10px;
  padding: 0.2rem 0.7rem !important;
}