* {
  box-sizing: border-box;
  margin: 0;
}

/* global variables */
:root {
  --black: #002029;
  --lime: #dddf00;
  --green: #33855d;
  --light-green: #e6fbee;
}

.navbar {
  background-color: var(--green) !important;
}

.new-nav-style {
  background-color: var(--green) !important;
}

option {
  background-color: var(--light-green) !important;
}