@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@100;300;400;500;700;800&family=Raleway:wght@300;400;500&family=Source+Code+Pro&display=swap');
.practice-page {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.language-container {
    height: 100%;
    width: 100%;
}

/* .language-card {
width: 10rem !important;
height: 10rem !important;
} */
/* .language-card {
    padding-bottom: 10rem !important;
} */
.question-card-left {
    width: 90%;
}
.question-card-right {
    width: 10%;
}
.question-props {
    color: var(--green) !important;
}
.question-card-btn {
    color: var(--dark-green) !important;
    border: 2px solid var(--dark-green) !important;
}
.question-card-btn:hover {
    background-color: var(--dark-green) !important;
    color: var(--light-green) !important;
}